/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.offlineText {
    color: white;
    font-size: 14;
    text-align: center;
}

.page {
    /*background-image: url("~/images/bg.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.center {
    horizontal-align: center;
}

.fa {
    font-family: "Font Awesome 5 Free", "fa-regular-400", "fa-solid-900";
}

.fa-solid {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.switch {
    border-radius: 50;
    font-size: 40;
    width: 90;
    height: 90;
    background: linear-gradient(-45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.9), rgba(255,255,255,0.3));
    border-width: 3;
    border-color: rgba(0,0,0,0.2);
    color: gray;
}

.switch.on {
    color: green;
    background: linear-gradient(45deg, rgba(255,255,255,0.4), rgba(255,255,255,0.9), rgba(255,255,255,0.4));
    border-color: rgba(0,128,0,0.5);
}
